# Global
*                                               @newrelic/virtuoso

# Documentation
/website/                                       @kidk

# Service Levels
/newrelic/*newrelic_service_level*              @newrelic/virtuoso #?

# Workflows
/newrelic/*newrelic_workflow*                   incident-workflows-team@newrelic.com
/newrelic/*newrelic_notifications_channel*      incident-workflows-team@newrelic.com
/newrelic/*newrelic_notifications_destination*  incident-workflows-team@newrelic.com

# Workloads
/newrelic/*newrelic_workload*                   team_workloads@newrelic.com