name: Changelog

on:
  push:
    tags:
      - 'v*'

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.x

      - name: Add GOBIN to PATH
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Update Changelog
        run: |
          make changelog
          make spell-check-fix

      - uses: actions/upload-artifact@v2
        with:
          name: CHANGELOG.md
          path: CHANGELOG.md

      - name: Checkout the pull request base
        uses: actions/checkout@v2
        with:
          ref: master

      - uses: actions/download-artifact@v2
        with:
          name: CHANGELOG.md
          path: .

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          base: master
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'docs: update changelog'
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: update/changelog
          title: 'chore: update changelog'
          body: |
            Update changelog
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: |
            report
            automated pr

      - name: Check output
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
