name: Lint Tests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

# cancels an already running job if a new commit has triggered a new run of the job
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26.x

      - name: Add GOBIN to PATH
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Full git history
        run: |
          git fetch --prune --unshallow

      - name: Cache deps
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Lint
        run: make lint

      - name: Check links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: 'website/docs/**/*.markdown'
          config: '.linkinator.json'

